* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
}

.container {
    display: flex;
    flex-direction: row;
    
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eb274e63-199b-4293-8bb3-6437f133e9b6/de48lp4-1065f6c1-8054-4954-9748-9819b7c5f0d2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ViMjc0ZTYzLTE5OWItNDI5My04YmIzLTY0MzdmMTMzZTliNlwvZGU0OGxwNC0xMDY1ZjZjMS04MDU0LTQ5NTQtOTc0OC05ODE5YjdjNWYwZDIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZbHwYQE5kStQg0pmXvY_O48DDgXvG7SjJWbhEWjp-A8);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 2px solid #f2796e;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.btn-1,
.btn-2 {
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-2 {
    background-color: #4f70b5;
    color: white;
    border: 2px solid #4f70b5;
}

.or {
    text-align: center;
}

.question {
    font-size: 15px;
}

span {
    color: #f2796e;
    cursor: pointer;
}



form div i {
    position: absolute;
    padding: 10px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
}


button a {
    text-decoration: none;
}

button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
}


@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    form,
    .content {
        width: 100%;
    }

    .btn {
        flex-direction: column;
    }

    .image {
        height: 70vh;
    }
}

@media (max-width: 425px) {
    form {
        padding: 20px;
    }
}